extends ../layouts/default


//- CAOB ojo no poner el signo para que no pase de largo

block content
  script(type="text/javascript").
    window.user = !{user};

  div.panel-body(ng-controller="ctrlPrecargaUsuario")
    //- div.container(style="width: 485PX; padding-top: 30px")
    div.panel.panel-default(style="width:800px;margin-bottom:50px;")
      div.panel-heading
        h4.panel-title
          |Registre su usuario
      div.panel-body
        form.form-horizontal(action="/precargausuario", method="post",onsubmit="return checkJade();",style="padding: 15px")

          div.form-group
            label( class='col-sm-3 control-label', for='cedula') Cédula
            div.col-sm-9
              input#cedula(class= "form-control", type='text', name="cedula", placeholder='cédula', ng-model='precarga.cedula')

          div.form-group
            label( class='col-sm-3 control-label', for='email') Correo Institucional
            div.col-sm-9
              input#email(class= "form-control", type='email', name="email", placeholder='e-mail registrado institucional', ng-model='precarga.email')


          div.form-group
            label( class='col-sm-3 control-label', for='username') Usuario
            div.col-sm-9
              input#username(class= "form-control", type='text', name="username", placeholder='cree su usuario', ng-model='precarga.username')

          div.form-group
              label( class='col-sm-3 control-label', for='nombreyapellido') Nombre y Apellido
              div.col-sm-9
                input#nombreyapellido(class= "form-control", type='text', name="nombreyapellido", placeholder='nombre y apellido', ng-model='precarga.nombreyapellido')

          div.form-group
            label( class='col-sm-3 control-label', for='perfil') Perfil
            div.col-sm-9
              select#perfil(class= "form-control",required=required, type='', name="perfil", placeholder='perfil',ng-model='precarga.perfiles')
                option(value="{{item._id}}" ng-repeat='item in perfiles') {{item.perfil}}

          div.form-group
              label( class='col-sm-3 control-label', for='institucion') Instituciones
              div.col-sm-9
                ul#institucion(class="list-group",name="instituciones", placeholder='Instituciones',style="color:gray")
                  li(class="list-group-item",ng-repeat="inst in instituciones| filter:query")
                    input(type="checkbox", id='{{inst._id}}',name="completed",checked=(false),ng-model='inst.checked')
                    label(for='{{inst._id}}',class='label',style="color:gray;") {{inst.insInstitucion}}



          div.form-group
            div.col-sm-offset-3.col-sm-10
              button.btn.btn-default(type='button',ng-click="SaveUser();") Crear Usuario

          if (typeof message!== 'undefined')
            div(class='#{message.class}')
              div(class='alert alert-#{message.type}')
                span(class="close", data-dismiss="alert") &times;
                p= message.data

