html
  include ../includes/head
  
  body 
      
      div(class='col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5')
        div(class='card wow fadeIn animated') 
          div(class='card')
            h3(class='card-header info-color white-text text-center py-4') 
              strong Login
                  
         
          div(class='card-body px-lg-5 pt-0')        
            form(class='text-center' style='color: #757575;', action="/users/session", method="post")

              br
              div(class='md-form mt-0')
                input( type='text', 
                       id='cedula', 
                       name="cedula", 
                       class='form-control' )
                label(for='cedula') Email


              div(class='md-form mt-0')
                input( type='password',
                       id='password',
                       name="password", 
                       class='form-control'
                )
                label(for='password') Password
               
              div(class="d-flex justify-content-around")
                div
                  div(class="form-check")
                    input(type="checkbox", class="form-check-input", id="materialLoginFormRemember")
                    label(class="form-check-label", for="materialLoginFormRemember") Remember me
                div
                  a(href="/restablecer") Forgot password?

              br        
              div(class='text-center')
                button( class='btn btn-outline-primary btn-md dc-panel-remove') Sign up
                hr
                div(class='inline-ul text-center d-flex justify-content-center')
                  a( class='p-2 m-2 fa-lg tw-ic')
                    i(class='fa fa-twitter grey-text')
                  a( class='p-2 m-2 fa-lg li-ic')
                    i(class='fa fa-linkedin grey-text')  
                  a( class='p-2 m-2 fa-lg ins-ic')
                    i(class='fa fa-instagram grey-text')     
  
  include ../includes/foot